* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #640D5F;
}

.search {
    display: flex;
    background-color: #7AB2D3;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: large;
    margin: 0.5rem 0;
}

button {
    margin: 0.5rem 0;
    width: 100px;
}
.warning{
    color: red;
}

.back {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.cards {
    position: relative;
    min-height: 35rem;
    perspective: 1000px;
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

.past, .future, .present {
    transition: all 0.5s ease-in-out;
    transform-style: preserve-3d;
}

.past {
    width: 25rem;
    height: 30rem;
    background-color:#D91656;
    position: relative;
    z-index: 1;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 10px;
}

.future {
    width: 25rem;
    height: 30rem;
    background-color: #EB5B00;
    position: relative;
    z-index: 1;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 10px;
}

.present {
    width: 30rem;
    height: 30rem;
    background-color: #FFB200;
    position: absolute;
    top: 3rem;
    left: 33rem;
    cursor: pointer;
    z-index: 2;
    padding:1.5rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 10px;
}

#name{
    text-align: center;
    margin-bottom: 25px;
    font-size: 40px;
}
img{
    margin-left: 30%;
    text-align: center;
    width: 40%;
}


/* Hover effects for past card */
.past:hover {
    transform: translateY(-2rem)  scale(1.05);
    z-index: 3;
}

.past:hover ~ .present {
    transform: translateZ(-50px) translateX(2rem);
}

.past:hover ~ .future {
    transform: translateZ(-50px) translateX(2rem);
}

/* Hover effects for present card */
.present:hover {
    transform: translateY(-2rem) scale(1.05);
    z-index: 2;
}

.present:hover ~ .future {
    transform: translateZ(-100px) translateX(2rem);
}

/* Hover effects for future card */
.future:hover {
    transform: translateY(-2rem) scale(1.05);
    z-index: 2;
}

.future:hover ~ .present {
    transform: translateZ(-50px) translateX(-2rem);
}

/* Adding box shadow on hover for better depth effect */
.past:hover, .present:hover, .future:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}